<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".PolyCampusApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="PolyCampus"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TeacherApp.AddAttendance.AddAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherApp.AddStudyMaterial.AddStudyMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherApp.ScanStudentQRCode.ScanStudentQRCodeActivity"
            android:exported="false" />

        <activity
            android:name=".TeacherApp.HomeTeacherActivity"
            android:exported="false"
            android:theme="@style/showActionbar"/>
        <activity
            android:name=".TeacherApp.LoginTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".StudyMaterial.StudyMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".CeertificateDownlodeTC"
            android:exported="false" />
        <activity
            android:name=".StudyMaterial.CeertificateDownlode"
            android:exported="false" />
        <activity
            android:name=".ImageDetails"
            android:exported="false" />
        <activity
            android:name=".MyProfile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Attendance.GetStudentCurrentLocationandSubmitAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".Attendance.FaceVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Attendance.LoginThroughFingerPrintActivity"
            android:exported="false" />
        <activity
            android:name=".UpcomingEventsAcitivity"
            android:exported="false" />
        <activity
            android:name=".ClassroomnoticeBoardAcitivity"
            android:exported="false" />
        <activity
            android:name=".CommonnoticeboardActivity"
            android:exported="false" />
        <activity
            android:name=".MarksheetActivity"
            android:exported="false" />
        <activity
            android:name=".SubjectWiseStudyMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".FacilityActivity"
            android:exported="false" />
        <activity
            android:name=".DepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".TC_CorrectionActivity"
            android:exported="false" />
        <activity
            android:name=".TCActivity"
            android:exported="false" />
        <activity
            android:name=".BonafiedActivity"
            android:exported="false" />
        <activity
            android:name=".eNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".eVotingActivity"
            android:exported="false" />
        <activity
            android:name=".AboutusActivity"
            android:exported="false" />
        <activity
            android:name=".ContactusActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/showActionbar" />
        <activity
            android:name=".SetupNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmRegisterMobilenoActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AdminApp.HomeAdminActivity"
            android:exported="false"
            android:theme="@style/showActionbar" />
        <activity
            android:name=".AdminApp.AddTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ApplyLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".SectionwiseFeaturesActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherApp.UploadMarksActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherApp.AllStudent.StudentDetailActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="net.gotev.uploadservice.UploadService"
            android:foregroundServiceType="dataSync"
            tools:node="replace" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
